# Gradle
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.kotlin

# IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.classpath
.project
.settings
bin/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Логи и временные
*.log
*.tmp
logs/

# Ваши скомпилированные файлы
**/classes/
**/*.class

# Убедиться, что корневая build игнорируется
/build/
/*/build/